<div class="cc">
    <div class="helper">
        <div class="col-md-4 offset-md-4">
            <mat-card class="main-div">
                <mat-card-header>
                    <mat-card-title>Login</mat-card-title>
                    <!-- <mat-card-subtitle>Logi</mat-card-subtitle> -->
                </mat-card-header>
                <mat-card-content>

                    <mat-form-field class="col-12">
                        <input matInput [(ngModel)]="email"  required email placeholder="email">
                    </mat-form-field>

                    <mat-form-field class="col-12">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [(ngModel)]="pword" required [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>

                    <div class="col-12">
                        <button mat-flat-button class="btn-block" color="primary" (click)="login()" >Login</button>
                    </div>
                    <br>
                    <div class="col-12">
                        <a [routerLink]="['/register']">Sign up</a>
                    </div>


                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>