<div class="container">
    <div class="row ">
        <div class="col-md-8 offset-md-2">
            <br><br>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Upload Images</mat-card-title>
                    <mat-card-subtitle>Fill details</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>

                    <button mat-raised-button (click)="fileInput.click()">
                        Select Image
                    </button>
                    <input style="display: none;" type="file" (change)="fileChangeEvent($event)" #fileInput />


                    <br>
                    <!--  -->
                    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                        [aspectRatio]="4 / 3" [resizeToWidth]="450"  format="png" (imageCropped)="imageCropped($event)"
                        (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()">
                    </image-cropper>
                    <br>

                    <button (click)="upload()" *ngIf="croppedImage  && !isLoading" mat-raised-button> UPLOAD </button>

                    <div class="col-md-4 offset-md-4" *ngIf="isLoading">
                        <mat-progress-spinner ng-show="isLoading" value='{{upProgrus}}'></mat-progress-spinner>
                    </div>



                </mat-card-content>


            </mat-card>

            <mat-card>
                <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="accent" maxWidth="100%"
                    proportion="75" slides="1" [loop]="true" [hideArrows]="false" [hideIndicators]="false"
                    [useKeyboard]="true" [useMouseWheel]="false" orientation="ltr">
                    <mat-carousel-slide #matCarouselSlide *ngFor="let item of imageArray" overlayColor="#FAFAFA"
                        [hideOverlay]="false">
                        <img [src]="item" width="100%">
                    </mat-carousel-slide>
                </mat-carousel>
            </mat-card>

        </div>


       

    </div>
    <button mat-raised-button color="primary" [routerLink]="['/home']"> Done </button>
</div>