<div class="container">
    <div class="row ">
        <div class="col-md-12">
            <br><br>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Upload Images</mat-card-title>
                    <mat-card-subtitle>Fill details</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>

                    <button mat-raised-button (click)="fileInput.click()">
                        Select Image
                    </button>
                    <br>
                    <input style="display: none;" type="file" (change)="fileChangeEvent($event)" #fileInput />


                    <br>
                    <!--  -->
                    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                        [aspectRatio]="4 / 3" [resizeToWidth]="450" format="png" (imageCropped)="imageCropped($event)"
                        (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()">
                    </image-cropper>
                    <br>

                    <button (click)="upload()" *ngIf="croppedImage  && !isLoading" mat-raised-button> UPLOAD </button>

                    <div class="col-md-12" *ngIf="isLoading">
                        <mat-progress-bar ng-show="isLoading" mode="determinate" value="{{upProgrus}}">
                        </mat-progress-bar>
                    </div>



                </mat-card-content>


            </mat-card>


            <br>

            <div class="row">
                <mat-card *ngFor="let item of imageArray">
                    <img [src]="item" style="width: 120px; height: 90px;">
                </mat-card>
            </div>

            <br>
            <button mat-raised-button color="primary" [routerLink]="['/home']"> Done </button>
        </div>




    </div>

</div>