<div class="container">
    <div class="spin" *ngIf="isLoading">
        <mat-spinner color="tertiary"></mat-spinner>
      </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let ad of pendingList">
            <br>
            <mat-card [routerLink]="['/select',ad.idadv]" >
                <img mat-card-image [src]="ad.details_other" alt="Photo of a Shiba Inu">
                <!-- <mat-card-header>
                    <mat-card-title>{{ad?.name}}</mat-card-title>
                    <mat-card-subtitle>{{ad?.company_name}}</mat-card-subtitle>
                </mat-card-header> -->
                <mat-card-content>
                    <h6>{{ad?.name}}</h6>     
                    <p>{{ad?.company_name}}</p>     
                    <!-- <p>{{ad?.description}}</p> -->
                </mat-card-content>             
            </mat-card>
        </div>
    </div>
</div>